# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# when using qt-creator
CMakeLists.txt.user

# when using eclipse
/Debug
